<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.atgc.hd">

    <uses-sdk android:minSdkVersion="5" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />
    <!-- 要求当前设备必须要有NFC芯片 -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".HDApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoTitleBar"
        tools:replace="android:theme,android:allowBackup">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Vp1gXzCXCIqvxx5pga1OxMOFXcxlfDqz" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".client.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".client.im.ConversationActivity" />
        <activity android:name=".client.im.ContactBookActivity" />
        <activity android:name=".client.im.ChatActivity" />
        <activity android:name=".client.emergency.ClipImageActivity" />
        <activity android:name=".client.emergency.EmergencyDetailsActivity" />
        <activity android:name=".client.emergency.EmergencyDetailsActivity2" />
        <activity android:name=".client.emergency.EmergencyEventActivity" />
        <activity android:name=".client.emergency.EmergencyEventActivity2" />
        <activity android:name=".client.emergency.EmergencyListActivity" />
        <activity android:name=".client.emergency.ImagePagerActivity" />
        <activity android:name=".client.emergency.LocalVideoFilesActivity" />
        <activity android:name=".client.emergency.UploadStateActivity" />
        <activity android:name=".client.platform.PlatformInfoActivity" />
        <activity android:name=".client.platform.DispatchMemberInfoActivity" />
        <activity android:name=".client.player.VideoPlayerActivity" />
        <activity android:name=".client.setting.NetSettingActivity" />
        <activity
            android:name=".comm.utils.PhotoAlbumUtil.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".client.tasklist.TaskListActivity"
            android:launchMode="singleTask" />
        <activity android:name=".client.tasklist.NetLogActivity" />
        <activity android:name=".client.tasklist.SimulationGPSActivity" />
        <activity android:name=".client.demo.DemoRequestActivity" />

        <service android:name=".comm.service.DeviceBootService" />

        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- <category android:name="android.intent.category.HOME" /> -->
            </intent-filter>
        </receiver>
    </application>

</manifest>